.LeftSidebar {
  display: flex;
  flex-direction: column;
  .Navbar-Container.__wide {
    display: block;
  }
  .Navbar-Container.__slim {
    display: none;
  }
  .LeftSidebar_Nav,
  .LeftSidebar_Buttons,
  .LeftSidebar_News {
    display: flex;
    flex-direction: column;
  }
  .LeftSidebar_Buttons {
    margin: 25px 0;
  }
  .LeftSidebar_Item.__Text {
    color: #000;
    margin-top: 24px;
    font-family: 'Roboto';
  }
  .LeftSidebar_Item {
    &.__Button {
      color: rgb(255, 255, 255);
      padding: 10px 10px 10px 30px;
      border-radius: 20px;
      margin-top: 20px;
      height: 40px;
    }
  }

  .showDrawer {
    position: absolute;
  }
}

.Navbar-Drawer {
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      flex-direction: column;
      & > a {
        margin-bottom: 20px;
        color: black;
        &.LeftSidebar_Item.__Button {
          font-weight: bold;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .LeftSidebar {
    .Navbar-Container.__wide {
      display: none;
    }
    .Navbar-Container.__slim {
      display: block;
    }
  }
}
