.LeftSidebar {
  display: flex;
  flex-direction: column;
  .LeftSidebar_Nav,
  .LeftSidebar_Buttons,
  .LeftSidebar_News {
    display: flex;
    flex-direction: column;
  }
  .LeftSidebar_Buttons {
    margin: 15px 0;
  }
  .LeftSidebar_Item.__Text {
    color: #000;
    margin-top: 15px;
  }
  .LeftSidebar_Item {
    &.__Button {
      color: rgb(255, 255, 255);
      padding: 10px 10px 10px 30px;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}
