.LeftSidebar {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  .Navbar-Container.__wide {
    display: block;
  }
  .Navbar-Container.__slim {
    display: none;
  }
  .LeftSidebar_Nav,
  .LeftSidebar_Buttons,
  .LeftSidebar_News {
    display: flex;
    flex-direction: column;
  }
  .LeftSidebar_Buttons {
    margin: 25px 0;
  }
  .LeftSidebar_Item.__Text {
    color: #000;
    margin-top: 24px;
    font-family: 'Roboto';
  }
  .LeftSidebar_Item {
    &.__Button {
      color: rgb(255, 255, 255);
      padding: 10px 10px 10px 30px;
      border-radius: 20px;
      margin-top: 20px;
      word-wrap: break-word;
    }
  }

  .showDrawer {
    position: absolute;
  }
}

.Navbar-Drawer {
  .ant-drawer-header {
    height: 70px;
    background-color: #8e3a88;
    display: flex;
    align-items: center;
    .ant-drawer-title {
      font-size: 19px;
      color: white;
    }
  }
}

.Navbar-Drawer {
  .LeftSidebar_Buttons {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0 10px 0;
    margin: 10px 0px;
  }
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    & > div {
      display: flex;
      flex-direction: column;
      & > a {
        margin-bottom: 20px;
        color: black;
        &.LeftSidebar_Item.__Button {
          font-weight: bold;
        }
      }
    }
  }
}

@media all and (max-width: 1510px) {
  .LeftSidebar {
    margin-right: 10px;
    .LeftSidebar_Item {
      &.__Button {
        padding: 10px 10px 10px 10px;
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 1050px) {
  .LeftSidebar {
    .LeftSidebar_Item {
      &.__Button {
        padding: 10px 10px 10px 10px;
        font-size: 9px;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .LeftSidebar {
    .LeftSidebar_Item {
      &.__Button {
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
      }
    }
    .Navbar-Container.__wide {
      display: none;
    }
    .Navbar-Container.__slim {
      display: block;
    }
  }
}
