.BuiltIn {
  h1 {
    font-weight: bold;
  }
  .Filter_Icon {
    display: none;
  }

  .Filter-Container {
    display: flex;
    justify-content: flex-end;
  }

  margin-top: 10px;
  .BuiltIn_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .BuiltIn_Header__CustomSearchInput {
      position: relative;
      .searchButton {
        position: absolute;
        background-color: #797979;
        transform: translateX(-50%);
      }
      .ant-input {
        background-color: #f2f2f2;
      }
      .ant-input-group-addon {
        border-radius: 50%;
        .ant-btn-primary {
          background-color: #797979;
        }
      }
    }
  }
  .BuiltIn_LowerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .LowerHeader_Sort {
      a {
        color: #8e3a88;
      }
      .Sort_Checkbox {
        margin-left: 20px;
      }
    }
    .LowerHeader_Icons {
      display: flex;
      align-items: center;
      svg.NineDots_Icon {
        width: 24px;
        height: 24px;
        margin-right: 20px;
        fill: #8e3a88 !important;
      }
    }
  }
}

@media all and (max-width: 992px) {
  .BuiltIn {
    .Filter_Icon {
      display: inline-block;
    }
    .LowerHeader_Sort {
      .Sort_Checkbox {
        margin-top: 10px;
        margin-left: 0 !important;
      }
    }
  }
}

@media all and (max-width: 633px) {
  .BuiltIn {
    .BuiltIn_Header {
      .BuiltIn_Header-Container {
        display: flex;
        flex-direction: column-reverse;
        h1 {
          margin: 20px 0 0;
        }
      }
    }
  }
}
