@import "../../variables.scss";

.MainHeader {
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;

  color: rgb(255, 255, 255);
  a {
    color: rgb(255, 255, 255);
  }

  .MainHeader_Upper {
    padding: $paddings;
    .MainHeader__ItemHeight {
      height: 100%;
    }
    background-color: $darkerPurple;

    .MainHeader_Logo {
      font-size: 24px;
      font-family: "Roboto";
      font-weight: bold;
      line-height: 1.5;
      color: rgb(255, 255, 255);
      .Logo_Add {
      }
    }

    .MainHeader_YourManager {
      font-size: 12px;
      font-family: "Roboto";
      line-height: 1;
      height: 40px;
      .YouManager_Name {
        border-bottom: 1px dotted rgb(255, 255, 255);
      }
    }

    .MainHeader_Info {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
  .MainHeader_Lower {
    background-color: $black;
    padding: $paddings;
    a {
      margin-right: 15px;
    }
  }
}
