@import '../../variables.scss';

.ant-menu-item {
  color: black;
  i {
    color: black !important;
  }
}

.MainHeader {
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;

  color: rgb(255, 255, 255);
  a {
    color: rgb(255, 255, 255);
  }
  .Busket_Container {
    position: relative;
    width: 80px;
    i {
      position: absolute;
      top: 5px;
    }
    .Menu_Item-Text {
      &.__Busket {
        position: absolute;
        top: -5px;
        left: 30px;
        // display: flex !important;
        & .title {
          position: relative;
        }
        & .title::before {
          position: absolute;
          content: '2 товара ';
          top: 6px;
          left: -30px;
          font-size: 9px;
        }
        & .title::after {
          position: absolute;
          top: 17px;
          left: -30px;
          font-size: 9px;
          content: 'на сумму 80339 руб';
        }
      }
    }
  }

  .MainHeader_Upper {
    padding: 0 40px;

    .MainHeader__ItemHeight {
      height: 100%;
    }
    background-color: $darkerPurple;

    .MainHeader_Logo {
      font-size: 19px;
      font-family: 'Roboto';
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0;
      color: rgb(255, 255, 255);
      &.__Huge {
        display: block;
      }

      &.__Small {
        display: none;
      }

      .Logo_Add {
        color: #f5acf0;
      }
    }

    .MainHeader_YourManager {
      font-size: 12px;
      font-family: 'Roboto';
      line-height: 1;
      height: 40px;
      .YouManager_Name {
        border-bottom: 1px dotted rgb(255, 255, 255);
      }
    }

    .MainHeader_Upper_Right {
      border: none !important;
      color: white;
      background-color: transparent;
      text-align: right;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &.ant-menu-horizontal {
        height: 60px;
      }

      .submenu-title-wrapper {
        display: inline-flex;
        align-items: center;
      }

      .ant-menu-item {
        color: white;
        i {
          color: white !important;
        }
      }
      .Menu-Header__Slim {
        display: none;
      }
      li,
      .ant-menu-submenu-title,
      a {
        padding: 0;
        margin-left: 10px;
        height: 100%;
        &:hover {
          background-color: #722e6d;
          color: white;
          svg {
            color: white;
          }
        }
      }

      .ant-menu-submenu-title {
        display: flex;
        align-items: center;
      }

      .ant-menu-item {
        display: inline-flex;
        align-items: center;
        padding: 0 10px;
        & > a {
          display: flex;
          align-items: center;
          margin-left: 0;
          color: white;
        }
      }

      & * {
        border: none !important;
      }
    }
  }
  .MainHeader_Lower {
    background-color: $black;
    padding: $paddings;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      margin-right: 50px;
    }

    .MainHeader_Lower_Menu {
      .ant-menu-horizontal {
        line-height: 10px;
      }
      &.ant-menu {
        background-color: transparent;

        line-height: 10px;
        .ant-menu-submenu-title {
          span {
            color: white !important;
          }
        }

        .ant-menu-item {
          color: white !important;
          padding: 0 50px 0 0;
          background-color: black !important;
        }
      }
      &,
      * {
        border: none !important;
      }
    }
  }
}

@media all and (max-width: 1830px) {
  .MainHeader {
    .MainHeader_Upper {
      .MainHeader_Logo {
        &.__Huge {
          font-size: 14px;
        }
      }
    }
  }
}

@media all and (max-width: 1392px) {
  .MainHeader {
    .MainHeader_Upper {
      .MainHeader_Logo {
        &.__Huge {
          display: none;
        }

        &.__Small {
          display: block;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .MainHeader {
    // .MainHeader_Upper {
    //   padding: 0 10px;
    // }
    .MainHeader_Upper {
      .MainHeader_Upper_Right {
        &.ant-menu-horizontal {
          height: 60px;
        }
      }
    }
    .Busket_Container {
      position: static;
      width: auto;
      &:before {
        position: absolute;
        content: '2';
        width: 20px;
        left: 27px;
        top: 7px;
        line-height: 17px;
        text-align: center;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        border: 1px solid white;
        color: white;
        z-index: 10;
      }
      i {
        position: relative;
        top: 0;
      }
    }
    .Menu_Item-Text {
      display: none;
      &.__Busket {
        // display: flex !important;
        .title {
          text-align: left !important;
        }
        .subtitle {
          font-size: 9px;
        }
      }
    }
    .Menu-Header__Slim {
      display: inline;
    }
    .MainHeader_Upper {
      .MainHeader_Logo {
        &.__Huge {
          display: none;
        }

        &.__Small {
          display: block;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  .MainHeader {
    .MainHeader_Upper {
      padding: 0 0px;
    }
    .MainHeader_Lower {
      padding: 10px 20px;
    }
    li,
    .ant-menu-submenu-title,
    a {
      padding: 0;
      margin-left: 0px !important;
    }

    .ant-menu-item {
      padding: 0px;
    }
  }
}

@media all and (max-width: 348px) {
  .MainHeader {
    .MainHeader_Logo {
      display: none !important;
    }
  }
}
