@import '../../variables.scss';

.ant-menu-item {
  color: black;
  i {
    color: black !important;
  }
}

.MainHeader {
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 100;

  color: rgb(255, 255, 255);
  a {
    color: rgb(255, 255, 255);
  }

  .MainHeader_Upper {
    padding: $paddings;

    .MainHeader__ItemHeight {
      height: 100%;
    }
    background-color: $darkerPurple;

    .MainHeader_Logo {
      font-size: 19px;
      font-family: 'Roboto';
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0;
      color: rgb(255, 255, 255);
      &.__Huge {
        display: block;
      }

      &.__Small {
        display: none;
      }

      .Logo_Add {
      }
    }

    .MainHeader_YourManager {
      font-size: 12px;
      font-family: 'Roboto';
      line-height: 1;
      height: 40px;
      .YouManager_Name {
        border-bottom: 1px dotted rgb(255, 255, 255);
      }
    }

    .MainHeader_Upper_Right {
      border: none !important;
      color: white;
      background-color: transparent;
      text-align: right;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &.ant-menu-horizontal {
        line-height: 40px;
      }

      .submenu-title-wrapper {
        display: inline-flex;
        align-items: center;
      }

      .ant-menu-item {
        color: white;
        i {
          color: white !important;
        }
      }
      .Menu-Header__Slim {
        display: none;
      }
      li,
      .ant-menu-submenu-title,
      a {
        padding: 0;
        margin-left: 10px;
        height: 100%;
        &:hover {
          background-color: #722e6d;
          color: white;
          svg {
            color: white;
          }
        }
      }

      .ant-menu-submenu-title {
        display: flex;
        align-items: center;
      }

      .ant-menu-item {
        display: inline-flex;
        align-items: center;
        padding: 0 10px;
        & > a {
          display: flex;
          align-items: center;
          margin-left: 0;
          color: white;
        }
      }

      & * {
        border: none !important;
      }
    }
  }
  .MainHeader_Lower {
    background-color: $black;
    padding: $paddings;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
      margin-right: 15px;
    }

    .MainHeader_Lower_Menu {
      .ant-menu-horizontal {
        line-height: 10px;
      }
      &.ant-menu {
        background-color: transparent;

        line-height: 10px;
        .ant-menu-submenu-title {
          span {
            color: white !important;
          }
        }

        .ant-menu-item {
          color: white !important;
          padding: 0 8px 0 0;
          background-color: black !important;
        }
      }
      &,
      * {
        border: none !important;
      }
    }
  }
}

@media all and (max-width: 1532px) {
  .MainHeader {
    .MainHeader_Upper {
      .MainHeader_Upper_Right {
        &.ant-menu-horizontal {
          height: 70px;
        }
      }
    }
  }
}

@media all and (max-width: 992px) {
  .MainHeader {
    .MainHeader_Upper {
      .MainHeader_Logo {
        &.__Huge {
          display: none;
        }

        &.__Small {
          display: block;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .MainHeader {
    // .MainHeader_Upper {
    //   padding: 0 10px;
    // }
    .MainHeader_Upper {
      .MainHeader_Upper_Right {
        &.ant-menu-horizontal {
          height: 70px;
        }
      }
    }
    .Menu_Item-Text {
      display: none;
    }
    .Menu-Header__Slim {
      display: inline;
    }
    .MainHeader_Upper {
      .MainHeader_Logo {
        &.__Huge {
          display: none;
        }

        &.__Small {
          display: block;
        }
      }
    }
  }
}
