.Product {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  .__margin {
    color: #8e3a88;
  }
  .price {
    font-size: 24px;
    margin-top: 11px;
  }
  .quantity {
    font-size: 14px;
    margin-bottom: 11px;
  }
  .simpleText {
    font-size: 14px;
    margin-bottom: 4px;
    .changeMarkup {
      color: #0966d9;
      border-bottom: 1px dotted #0966d9;
    }
  }
}
