.ProductFilter {
  b {
    margin-bottom: 10px;
  }
  border: 1px solid #bcbcbc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .ProductFilter_Title {
    padding: 10px 10px 0 10px;
  }
  .ant-checkbox-wrapper {
    margin: 0 0 8px 0;
  }
  .Product_Attribute {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #bcbcbc;
    b {
      word-wrap: break-word;
    }
  }
  .Button-Container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    a {
      margin-top: 15px;
    }
  }
}

.ProductFilter.__Drawer {
  border: none;
}
