@import '../../variables.scss';

.Checkout {
  margin-top: 10px;
  .Checkout_Header {
    display: flex;
    align-items: center;
    h1 {
      margin: 0 0 60px 0;
      font-weight: bold;
    }
    margin-bottom: 20px;
  }

  .Checkout_Form {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.16);
    padding: 40px;
    margin-bottom: 40px;
    h3 {
      margin-bottom: 40px;
      font-weight: bold;
    }
    .Form_Input-Container {
      display: flex;
      flex-direction: column;
      .Form_Input {
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
        border: none;
        width: 450px;
        &:focus {
          background-color: white !important;
          box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.16);
        }
      }
    }
    .RadioWrapper {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 20px;
      & > span {
        display: block;
      }
      * {
        border-color: rgb(142, 58, 136);
        overflow-wrap: break-word;
      }
      .ant-radio-checked::after {
      }
      .ant-radio-inner {
        position: relative;
        &::after {
          background-color: rgb(142, 58, 136);
          position: absolute;
          height: 12px;
          width: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .ant-radio-inner {
        height: 20px;
        width: 20px;
      }
      .Radio_Text {
        .Radio_Subtitle {
          white-space: pre-wrap;
          word-wrap: break-word;
          white-space: normal;
          color: grey;
          margin-top: 5px;
          font-size: 13px;
        }
        & > span {
          display: block;
        }
      }
    }

    .Payment-Toggle {
      display: flex;
      margin-bottom: 40px;
      .Payment {
        box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.16);
        border-radius: 20px;
        display: inline-flex;
        height: 160px;
        width: 250px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-right: 40px;
        svg {
          width: 60px;
          height: 60px;
          margin-bottom: 25px;
          margin-top: 30px;
        }
        &.__Active {
          border: 1px solid #8e3a88;
          box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0);
          svg {
            fill: #8e3a88;
          }
        }
      }
    }

    .Form-Dropdown {
      .Dropdown-Input {
        .ant-select-selection {
          border-radius: 20px;
        }
      }
    }
  }

  .Checkout_Table {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    .Table_Footer {
      display: flex;
      justify-content: space-between;
      background-color: rgb(235, 235, 235);
      border-radius: 0px 0px 20px 20px;
      padding: 45px;

      .Input-Container {
        display: inline-flex;
        // align-items: flex-end;

        .Input-Wrapper {
          width: 250px;
          flex-direction: column;
          h3 {
            font-weight: bold;
            margin-bottom: 20px;
          }
          .Input {
            border-radius: 20px;
          }
        }
      }
      .Footer_Info {
        display: flex;
        flex-direction: column;
        span {
          margin-top: 9px;
        }
        margin-right: 80px;
      }
      .Footer_Chekout {
        display: inline-flex;
        .Checkout_Amount {
          .Amount_Title {
            display: flex;
            margin-bottom: 40px;
            b {
              margin-left: 8px;
              font-size: 16px;
            }
          }
          .Amount_Button {
            background-color: rgb(142, 58, 136);
            border-radius: 20px;
            padding: 0 30px;
            color: white;
          }
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  .Checkout {
    .Checkout_Header {
      .Header_row {
        flex-direction: column-reverse;
      }
      h1 {
        margin: 10px 0 10px 0;
      }
    }
    .Form_Input {
      width: 100% !important;
    }

    .Checkout_Form {
      .Payment-Toggle {
        flex-direction: column;
        align-items: center;

        .Payment {
          margin-right: 0;
          &:first-child {
            margin-bottom: 30px;
          }
        }
        .Form-Dropdown {
          align-items: center;
        }
      }
      .Form-Dropdown {
        .Form-Dropdown_Title {
          text-align: center;
        }
        .Dropdown-Input {
          width: 100%;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .Checkout {
    .Checkout_Table {
      .Footer_Right {
        justify-content: center;
        .Footer_Info {
          margin-right: 0px;
        }
      }

      .Footer_Left {
        justify-content: center;
        margin-bottom: 15px;
      }
      .Table_Footer {
        flex-direction: column;
        .Table_Footer-Row {
          justify-content: center;
        }
        .Footer_Info {
          margin-bottom: 20px;
        }
        .Input-Container {
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px;
          .Input-Button {
            margin-top: 25px;
          }
        }
        .Footer_Chekout {
          justify-content: center;
          .Amount_Title {
            display: flex;
            justify-content: center;
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }
}
