@import '../../variables.scss';

.Busket {
  margin-top: 10px;
  .Busket_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      margin: 0;
      font-weight: bold;
    }
    margin-bottom: 20px;
  }

  .Busket_Table {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    .Table_Footer {
      display: flex;
      justify-content: space-between;
      background-color: rgb(235, 235, 235);
      border-radius: 0px 0px 20px 20px;
      padding: 45px;

      .Input-Container {
        display: inline-flex;
        // align-items: flex-end;

        .Input-Wrapper {
          width: 250px;
          flex-direction: column;
          h3 {
            font-weight: bold;
            margin-bottom: 20px;
          }
          .Input {
            border-radius: 20px;
          }
        }
        .Input-Button {
          background-color: black;
          color: white;
          border-radius: 20px;
          padding: 0 30px;
          margin-left: 7px;
          margin-top: 45px;
        }
      }
      .Footer_Chekout {
        display: inline-flex;
        .Checkout_Amount {
          margin-top: 40px;
          .Amount_Title {
            display: flex;
            margin-bottom: 40px;
            b {
              margin-left: 8px;
              font-size: 16px;
            }
          }
          .Amount_Button {
            background-color: rgb(142, 58, 136);
            border-radius: 20px;
            padding: 0 30px;
            color: white;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .Busket {
    .Busket_Table {
      .Table_Footer {
        flex-direction: column;
        .Input-Container {
          flex-direction: column;
          align-items: center;
          .Input-Button {
            margin-top: 25px;
          }
        }
        .Footer_Chekout {
          justify-content: center;
          .Amount_Title {
            display: flex;
            justify-content: center;
            margin-bottom: 20px !important;
          }
        }
      }
    }
  }
}
